.resizeHandleWrapperClass {
    padding: 0;
    margin: 0;
    width: 100%;
}

.resizeHandleWrapperClass div {
    padding: 1px;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
}

.react-draggable-dragging {
    opacity: 50%;
    transition: none !important;
}

.resizing {
    transition:  none !important;
}